<h2><a href="#"><span>American Institute of Vedic Studies</span></a></h2>
<h3>An educational center focusing on Ayurveda, Vedic astrology, Yoga and their interconnections.</h3>
<%= render(:partial => "/shared/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>
